.navbar {
  background-color: #ffffff;
  border-bottom: 1px solid #eaeaea;
  position: sticky;
  top: 0;
  z-index: 1000;
  padding: 15px 0;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Style du Logo */
.nav-logo a {
  font-family: var(--font-titles);
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 2px;
  color: var(--primary-color);
}

.nav-logo span {
  color: var(--accent-color);
  font-weight: 300;
}

/* Liens de navigation */
.nav-links {
  display: flex;
  list-style: none;
  gap: 20px;
}

.nav-links a {
  font-family: var(--font-body);
  font-size: 0.85rem;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
  color: var(--text-dark);
  padding: 5px 0;
  position: relative;
}

/* Animation de survol couleur Or */
.nav-links a:hover {
  color: var(--accent-color);
}

.nav-links a::after {
  content: '';
  position: absolute;
  width: 0;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: var(--accent-color);
  transition: width 0.3s ease;
}

.nav-links a:hover::after {
  width: 100%;
}

/* Actions à droite (Client / Panier) */
.nav-actions {
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 1.2rem;
}

.nav-icon-link:hover, .nav-cart-link:hover {
  transform: scale(1.1);
}

.nav-cart-link {
  display: flex;
  align-items: center;
  position: relative;
}

.cart-count {
  background-color: var(--primary-color);
  color: var(--text-light);
  font-size: 0.7rem;
  font-weight: bold;
  border-radius: 50%;
  padding: 2px 6px;
  position: absolute;
  top: -8px;
  right: -10px;
}